<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O jogo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header> <h1 style="text-align: center;"> O joguinho</h1></header>

    {% block content%}
        <!--Aqui será o conteúdo das outras pags-->
    {% endblock content%}


<!--rodape da pagina-->

    <footer> <hr> <p style="text-align: center;"> Todos os direitos reservados &reg;</p></footer>
</body>
<script src="{{url_for('static, filename='js/script.js)}}"></script>
</html>